.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* Add more styling as needed */
}

.color-list {
  list-style: none;
  display: flex;
  margin-top: 20px; /* Adjust as needed */
}

.color-list li {
  background-color: #f0f0f0; /* Set the background color */
  border: 1px solid #ccc; /* Add a border */
  padding: 10px;
  margin: 0 10px; /* Adjust as needed */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow for a 3D effect */
  transition: background-color 0.3s ease-in-out; /* Smooth color transition */
}

.color-list li:hover {
  background-color: #e0e0e0; /* Adjust hover color */
  cursor: pointer;
}

.color-list CButton {
  border-radius: 5px;
}

.custom-cbutton {
  border-radius: 8px; /* Set the desired border radius */
}
